body .index {
    background: #017EE7;
    background: linear-gradient(0deg, rgba(1, 126, 231, 1) 30%, rgba(9, 74, 131, 1) 71%);
    font-family: "Share Tech", sans-serif;
}

.formulaire {
    background: #017EE7;
    background: linear-gradient(353deg, rgba(1, 126, 231, 1) 23%, rgba(9, 76, 135, 1) 58%, rgba(1, 126, 231, 1) 100%);
    font-family: "Share Tech", sans-serif;
}

.mention {
    background: #017EE7;
    background: linear-gradient(270deg, rgba(1, 126, 231, 1) 23%, rgba(9, 76, 135, 1) 58%, rgba(1, 126, 231, 1) 100%);
    font-family: "Share Tech", sans-serif;
}

.cgv {
    background: #017EE7;
    background: linear-gradient(270deg, rgba(1, 126, 231, 1) 23%, rgba(9, 76, 135, 1) 58%, rgba(1, 126, 231, 1) 100%);
    font-family: "Share Tech", sans-serif;
}

.css_un {
    background: #1f5480;
    background: linear-gradient(50deg, rgba(31, 84, 128, 1) 0%, rgba(17, 13, 12, 1) 50%, rgba(31, 84, 128, 1) 100%);
}

.panier {
    background: #3E4E5A;
    background: linear-gradient(50deg, rgba(62, 78, 90, 1) 0%, rgba(17, 13, 12, 1) 50%, rgba(62, 78, 90, 1) 100%);
}

.ecran {
    width: 16rem;
}

.ecrito {
    font-size: larger;
    background: #3E4E5A;
    background: linear-gradient(50deg, rgba(62, 78, 90, 1) 0%, rgba(17, 13, 12, 1) 50%, rgba(62, 78, 90, 1) 100%);
}

.carte {
    width: 15rem;
    margin-top: 6.3rem;
}

.interface_texte {
    margin-top: 8rem;
}

.interface_texte_deux {
    margin-top: 6.3rem;
}

.carte_deux {
    width: 15rem;
}

.carte_trois {
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

footer {
    background: #1f5480;
    background: linear-gradient(50deg, rgba(31, 84, 128, 1) 0%, rgba(17, 13, 12, 1) 50%, rgba(31, 84, 128, 1) 100%);

}

.background_color {
    background: #3E4E5A;
    background: linear-gradient(50deg, rgba(62, 78, 90, 1) 0%, rgba(17, 13, 12, 1) 50%, rgba(62, 78, 90, 1) 100%);
}

nav {
    background: #3E4E5A;
    background: linear-gradient(50deg, rgba(62, 78, 90, 1) 0%, rgba(17, 13, 12, 1) 50%, rgba(62, 78, 90, 1) 100%);
    font-family: "Share Tech", sans-serif;
    font-weight: bold;
}

span {
    font-weight: bold;
}

.resize_img_un {
    width: 50%;
    margin-left: 26%;
}

.watercooling {
    margin-bottom: -4rem;
}

.body_mobile {
    background: #017EE7;
    background: linear-gradient(0deg, rgba(1, 126, 231, 1) 30%, rgba(9, 74, 131, 1) 71%);
}